
@{
    ViewBag.Title = "AddCustomer";
}

<form>
    <h2>Add a Customer</h2>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">Company Name</label>
            <input type="text" value="" class="form-control" />
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Contact Name</label>
            <input type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">Address 1</label>
            <input type="text" value="" class="form-control" />
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Address 2</label>
            <input type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label class="control-label">City</label>
            <input type="text" value="" class="form-control" />
        </div>
        <div class="form-group col-sm-2 col-xs-6">
            <label class="control-label">State</label>
            <input type="text" value="" class="form-control" />
        </div>
        <div class="form-group col-sm-3 col-xs-6">
            <label class="control-label">ZIP</label>
            <input type="text" value="" class="form-control" />
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label">Company Phone</label>
            <input type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">Fax</label>
            <input type="text" value="" class="form-control" />
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Contact Phone</label>
            <input type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <a href="/Employee" class="btn btn-default">Cancel</a>
            <input type="submit" value="Add Customer" id="add-customer" class="btn btn-success" />
        </div>
    </div>
</form>

<div class="confirmation text-center" style="display:none">
    <h1>Customer Saved!</h1>
    <p class="lead">The customer has been saved in the database.</p>
    <a href="/Employee" class="btn btn-default">Return to Dashboard</a>
    <a href="/Employee/AddCustomer" class="btn btn-primary">Add Another Customer</a>
</div>