
@{
    ViewBag.Title = "AssayDetails";
    var desc = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies".Substring(0, 50);

}

<h2>AssayDetails</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Protocol</th>
                <th>Required Tests</th>
                <th>Conditional Tests</th>
                <th>Days To Completion</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>PharmaScreen</td>
                <td>@desc...</td>
                <td><a href="#">Sample Test 2</a></td>
                <td><a href="#">Sample Test 3</a></td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</div>
<a href="/Employee" class="btn btn-default">Back</a>
<a href="#" class="btn btn-primary">Run Tests</a>

