
@{
    ViewBag.Title = "CompoundSample";
}
<h2>Compound Sample</h2>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Concentration</th>
            <th>Test Name</th>
            <th>Test ID</th>
            <th>LT Number</th>
            <th>Sequence Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">0.00032</a></td>
            <td>Sample Test</td>
            <td>32423</td>
            <td>2321421</td>
            <td>1</td>
            
        </tr>
    </tbody>
</table>
    </div>
<a href="#" class="btn btn-xs btn-success">Print Label</a>