@{
    ViewBag.Title = "Discount";
}

<h2>Enter Discounts</h2>
<p class="lead">Total Charges</p>
<p>US$2059.33</p>
<br /><br />
<form class="form-horizontal">
    <div class="form-group">
        <label for="discount" class="col-sm-2 control-label">Discount</label>
        <div class="col-sm-10">
            <input type="discount" class="form-control" id="discount" placeholder="Enter Discount">
        </div>
    </div>
</form>
<a href="/Employee/UpdatedCustomerInfo"><button type="button" class="btn btn-default">Update Balance</button></a>