@{
    ViewBag.Title = "Discount";
}

<h1>Enter Discounts</h1>
<h2>Total Charges: <span class="text-success">$2,059.33</span></h2>
<br />

<div class="row">
    <div class="col-xs-12 form-group">
        <label class="control-label">Discount</label>
        <input type="text" value="" class="form-control" />
    </div>
</div>

<a href="/Employee/UpdatedCustomerInfo"><button type="button" class="btn btn-default">Update Balance</button></a>