@{
    ViewBag.Title = "Index";
}

<h2>Welcome, Employee! Choose an Action.</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Customers</h3>
        <ul>
            <li><a href="/Employee/AddCustomer">Add Customer</a></li>
        </ul>
    </div>

    <div class="col-md-4">
        <h3>Quotes</h3>
        <ul>
            <li><a href="/Employee/AddQuote">Add a Quote</a></li>
            <li><a href="/Employee/ReviewQuotes">Review Quotes</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Billing</h3>
        <ul>
            <li><a href="/Employee/ProcessBilling">Process Billing</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">Catalogs</h3>
        <div class="my-image6 img-circle"></div>
        <p class="below text-center"><a href="/Employee/QueryAssayCatalog">Update Assay Catalog</a></p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Work Orders and Reports</h3>
        <div class="my-image7 img-circle"></div>
        <p class="below text-center"><a href="/Employee/ViewWorkOrder">View Work Order</a></p>
        <p class="below text-center"><a href="/Employee/ProcessDataReport">Create Data Report</a></p>
        <p class="below text-center"><a href="/Employee/ProcessSummaryReport">Create Summary Report</a></p>
        <p class="below text-center"><a href="/Employee/CreateCustomReport">Create Custom Report</a></p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Compounds and Assays</h3>
        <div class="my-image9 img-circle"></div>
        <p class="text-center below"><a href="/Employee/ReceiveCompound">Receive Compound</a></p>
        <p class="text-center below"><a href="/Employee/ScheduleAssay">Schedule Assay</a></p>
        <p class="text-center below"><a href="/Employee/RunAssay">Run Assay</a></p>
        <p class="text-center below"><a href="/Employee/Solubilize">Solubilize, Prepare and Dispense Solution</a></p>
        
    </div>
</div>
