@{
    ViewBag.Title = "Index";
}

<h2>Choose an action</h2>
<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">Customers</h3>
        <div class="my-image4 img-circle"></div>
        <p class="text-center"><a href="/Employee/AddCustomer">Add Customer</a></p>
    </div>

    <div class="col-md-4">
        <h3 class="text-center">Quotes</h3>
        <div class="my-image8 img-circle"></div>
        <p class="text-center"><a href="/Employee/AddQuote">Add a Quote</a></p>
        <p class="text-center"><a href="#">Review Quotes</a></p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Billing</h3>
        <div class="my-image5 img-circle"></div>
        <p class="text-center"><a href="/Employee/ProcessBilling">Process Billing</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Catalogs</h3>
        <ul>
            <li><a href="/Employee/QueryAssayCatalog">Update Assay Catalog</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Work Orders and Reports</h3>
        <ul>
            <li><a href="#">View Work Order</a></li>
            <li><a href="#">Create Data Report</a></li>
            <li><a href="#">Create Summary Report</a></li>
            <li><a href="/Employee/CreateCustomReport">Create Custom Report</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Compounds and Assays</h3>
        <ul>
            <li><a href="/Employee/ReceiveCompound">Receive Compound</a></li>
            <li><a href="/Employee/ScheduleAssay">Schedule Assay</a></li>
            <li><a href="#">Run Assay</a></li>
            <li><a href="#">Solubilize, Prepare and Dispense Solution</a></li>
        </ul>
    </div>
</div>
