
@{
    ViewBag.Title = "ProcessSummaryReport";
}

<h2>Process Summary Report</h2>

<label class="control-label">Upload Summary Report</label>
<input id="input-1" type="file" class="file">
<br />
<a href="#"><button type="button" class="btn btn-default">Upload Report</button></a>
