
@{
    ViewBag.Title = "ReceiveCompound";
}

<section class="enter-info">
    <h2>Receive Compound</h2>

    <section class="enter-compound-info">
        <p class="lead">Enter Compound Information</p>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">Compound Name</label>
                <input type="text" value="" class="form-control" id="compound-name" />
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Molecular Mass</label>
                <input type="text" value="" class="form-control" id="compound-mass" />
                <p class="small error-message text-danger"></p>
            </div>
        </div>
    </section>
    <br /> <br />
    <section class="enter-sample-info">
        <div class="sample">
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead">Enter Sample Information</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label">Quantity (mg)</label>
                    <input type="number" value="" class="form-control" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Date Arrived</label>
                    <input type="date" value="" class="form-control" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Date Due</label>
                    <input type="date" value="" class="form-control" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Claimed Weight</label>
                    <input type="number" value="" class="form-control" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Actual Weight</label>
                    <input type="number" value="" class="form-control" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">MTD</label>
                    <input type="number" value="" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="control-label">Appearance</label>
                    <textarea rows="5" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </section>
    <a id="add-sample" href="#" class="btn btn-primary">Add Sample</a>

    <br /><br />

    <a href="#" class="btn btn-success" id="submit-compound">Submit Compound</a>
</section>

<section class="confirmation text-center" style="display:none">
    <h1>Compound Saved</h1>
    <p class="lead">The compound and its associated samples have been saved.</p>
    <a href="/Employee" class="btn btn-default">Back to Dashboard</a>
</section>