
@{
    ViewBag.Title = "ReviewQuotes";
}

<h2>Review Quotes</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Quote ID</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Compound Name</th>
                <th>Quantity (mg)</th>
                <th>Quote Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">78293</a></td>
                <td>BigPharma</td>
                <td>(801) 555-3827</td>
                <td>Ammonium</td>
                <td>10.5733</td>
                <td>$2,055.34</td>
                <td><a href="#" class="btn btn-xs btn-success">Approve Quote</a></td>
            </tr>
        </tbody>
    </table>
</div>

