
@{
    ViewBag.Title = "ScheduledAssays";
}

<h2>Schedule Assay</h2>

<p class="lead">Choose a date range to schedule</p>
<div class="row">
    <div class="form-group col-sm-6">
        <label class="control-label">Start Date</label>
        <input type="date" value="" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label class="control-label">End Date</label>
        <input type="date" value="" class="form-control" />
    </div>
</div>

<img src="http://i.imgur.com/p4enfLc.png" class="img-responsive center-block" />

<a href="/Employee" class="btn btn-default">Back</a>