
@{
    ViewBag.Title = "Solubilize";
}

<h2>Solubilize</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Compound Sequence Code</label>
        <div class="col-sm-10">
            <input value="1" class="form-control" id="CustomerID" placeholder="CompoundSequenceCode">
        </div>
    </div>
</form>

<a href="/Employee/CompoundSample"><button type="button" class="btn btn-primary">Search</button></a>
