@{
    ViewBag.Title = "About";
}

<div class="about-header">
    <div class="content">
        <h1>About Northwest Labs</h1>
    </div>
</div>

<div class="container">
    <h2>Northwest Labs Pharmaceuticals</h2>
    <h3>Defying definition.</h3>

    <p>We are, by all accounts, a unique organization of skilled professionals adept in applying science to real life situations. Our history starts in Seattle, Washington during the Alaska Gold Rush of 1896. We then assayed gold for miners. Today, we test, analyze, identify and/or solve thousands of problems for industry, business, as well as the insurance and legal communities. We can return results with the speed of the internet and the accuracy of the most up-to-date testing methods.</p>
    <p>Our expertise can be divided into the following areas: Forensics, Metallurgy, Chemical Analysis, Physical Testing, and Products Testing.</p>

    <h3>ASTM Standards We Test</h3>
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <ul>
                <li>A262</li>
                <li>A90 </li>
                <li>B117</li>
                <li>B928</li>
                <li>C1028</li>
                <li>C1260</li>
                <li>C127 </li>
                <li>C131 </li>
                <li>C1567</li>
                <li>C177 </li>
                <li>C289 </li>
                <li>C88  </li>
                <li>D1335</li>
                <li>D1653</li>
                <li>D2242</li>
                <li>D2584</li>
                <li>D2859</li>
                <li>D3218</li>
                <li>D335 </li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-6">
            <ul>
                <li>D5034</li>
                <li>D5793</li>
                <li>D5823</li>
                <li>D5848</li>
                <li>D638 </li>
                <li>D790 </li>
                <li>E359 </li>
                <li>E53  </li>
                <li>E96  </li>
                <li>F1148</li>
                <li>F1292</li>
                <li>F1427</li>
                <li>F1821</li>
                <li>F1936</li>
                <li>F1951</li>
                <li>F355 </li>
                <li>G37  </li>
                <li>G66  </li>
                <li>G67  </li>
            </ul>
        </div>
    </div>
</div>
