@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>Contact Us</h2>
    <h3>We love hearing from our customers.</h3>
    <address>
        241 South Holden St<br />
        Seattle, WA 98108<br />
        Phone: <a href="tel:2067636252">(206) 763-6252</a> <br />
        Fax: (206) 763-3949 <br />

        Email: <a href="mailto:postmaster@nwlabs1896.com">postmaster@nwlabs1896.com</a><br />
    </address>

    <p>Curriculum vitae of our experts and further information available by contacting us directly.</p>
</div>



