
@{
    ViewBag.Title = "ReviewQuotes";
}

<h2>Review Pending Quotes</h2>
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Work Order ID</th>
                    <th>Compound Name</th>
                    <th>Discount Percent</th>
                    <th>Quote Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/Employee/ReviewQuote/104729">104729</a></td>
                    <td>Phencyclidine</td>
                    <td>15%</td>
                    <td>$1750.43</td>
                    <td><a href="#" class="btn btn-xs btn-success">Approve Quote</a></td>
                </tr>
                <tr>
                    <td><a href="#">146251</a></td>
                    <td>Gold</td>
                    <td>0%</td>
                    <td>$4923.25</td>
                    <td><a href="#" class="btn btn-xs btn-success">Approve Quote</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

