
@{
    ViewBag.Title = "UpdateAssayCatalog";
}

<h2>Assay Catalog</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Assay ID</th>
                <th>Name</th>
                <th>Protocol</th>
                <th>Required Tests</th>
                <th>Conditional Tests</th>
                <th>Materials</th>
                <th>Literature References</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>7392</td>
                <td>PharmaScreen</td>
                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies</td>
                <td><a href="#">Sample Test 2</a></td>
                <td><a href="#">Sample Test 3</a></td>
                <td>Iron, Lead</td>
                <td>Journal of Science</td>
            </tr>
        </tbody>
    </table>
</div>
<a href="/Employee/EditAssay"><button type="button" class="btn btn-default">Edit</button></a>
