@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br /><br />
    <h1 class="text-center"><b>NORTHWEST LABS</b></h1>
    <p class="lead text-center">Northwest Laboratories almost defies definition. We are, by all accounts, a unique organization of skilled professionals adept in applying science to real life situations.</p>
</div>

<div class="container">
    <p>Our history starts in Seattle, Washington during the Alaska Gold Rush of 1896. We then assayed gold for miners. Today, we test, analyze, identify and/or solve thousands of problems for industry, business, as well as the insurance and legal communities. We can return results with the speed of the internet and the accuracy of the most up-to-date testing methods.</p>
    <p>Our expertise can be divided into the following areas: Forensics, Metallurgy, Chemical Analysis, Physical Testing, and Products Testing.</p>

    
</div>