<h2>Your Work Orders</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Work Order ID</th>
                <th>Comments</th>
                <th>Discount Percent</th>
                <th>Total Charges</th>
                <th>Compound Name</th>
                <th>Molecular Mass</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>104729</td>
                <td>""</td>
                <td>15</td>
                <td>1750.43</td>
                <td>Phencyclidine</td>
                <td>243.387</td>
                <td><a href="/Customer/SummaryReport"><button type="button" class="btn btn-primary">View Summary Report</button></a></td>
                <td><a href="/Customer/RawData"><button type="button" class="btn btn-danger">View Raw Data Report</button></a></td>
            </tr>
        </tbody>
    </table>
</div>
<a href="/Customer"><button type="button" class="btn btn-default">Go Back</button></a>