
<div class="container">
    <h2>Choose an Action</h2>
     <div class="row">
        <div class="col-lg-4">
            <a href="/Customer/RawData">View Raw Data</a>
        </div>
        <div class="col-lg-4">
            <a href="/Customer/SummaryReport">View Summary Report</a>
        </div>
        <div class="col-lg-4">
            <a href="/Customer/WorkOrders">View Work Order</a>
        </div>
    </div>
</div>
