
<div class="container">
    <h1>Welcome, Customer! Choose an Action.</h1>
    <br /><br />
     <div class="row">
        <div class="col-lg-4">
            <a href="/Customer/WorkOrders"><div class="my-image img-circle"></div></a>
            <p class="below text-center"><a href="/Customer/WorkOrders">View Your Work Orders</a></p>
</div>
         <div class="col-lg-4">
             <a href="#"><div class="my-image2 img-circle"></div></a>
             <p class="below text-center"><a href="#">Update Your Profile</a></p>
         </div>

         <div class="col-lg-4">
             <a href="#"><div class="my-image3 img-circle"></div></a>
             <p class="below text-center"><a href="#">Account Settings</a></p>
         </div>
    </div>
</div>
