<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Work Order ID</th>
                    <th>Comments</th>
                    <th>Discount Percent</th>
                    <th>Total Charges</th>
                    <th>Compound Name</th>
                    <th>Molecular Mass</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>104729</td>
                    <td>""</td>
                    <td>15</td>
                    <td>1750.43</td>
                    <td>Phencyclidine</td>
                    <td>243.387</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
